  
/* Hoved bakgrunn felles for alle*/
@font-face {
    font-family: 'Montserrat';
    src: url("assets/fonts/Montserrat-Bold.ttf") format("truetype");
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    font-size: 1.2rem;
    background: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%)
}

h1, h2, h3 {
    font-family: 'Montserrat', sans-serif;
}

h1{
   font-size: 4rem;
}

h2{
    font-size: 2.2rem;
}

p {
    max-width: 70ch;
    line-height: 1.5;
    display: inline-block;
    margin-block-end: 0%;
    margin-block-start: 0%;
    margin-inline-end: 0%;
    margin-inline-start: 0%; 
} 

header {
    background-image: url("assets/img/studentsbg.png");
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;  
    height: 55vh;    
}

header div, main, footer {
    width: 95vw;
    margin: 0rem auto 0rem auto;   
    align-self: center;
   }

header div {
    display: block;
    position: absolute; 
    text-align: center;   
    overflow: visible; 
    padding: 1rem 0rem;
    bottom: -4rem;      
    left: 2.5%;
    right: 2.5%;
}

header div, footer {
    background-color: #c5192d;
    color: white;
    text-align: center;
}

footer {
    margin-top: 2rem;
}

a {
    color: white;
}

main article {
    box-shadow: 0px 0px 1px 0px darkgray;  /* •It sets a box shadow where the blur-radius will be 1px. 
        •The offset-x, offset-y and spread-radius values will be set to 0  •The box shadow’s color is “darkgrey” */ 
    background-color: whitesmoke; /*•The background color of this element is “whitesmoke”*/
}

#intro-container {
    margin-top: 6rem;
    background-color: #c5192d;
 }

ul{
    list-style: none;
    display: inline-block;
    text-align: left;
}

 ul li:nth-child(1):before {
    content: "\1F64C";
    width: 1rem;
    margin-top: 1rem;
    margin-right: 1rem;
}
  ul li:nth-child(2):before {
    content: "\1F3EB";
    width: 1rem;
    margin-top: 1rem;
    margin-right: 1rem;
}
    ul li:nth-child(3):before {
    content: "\1F4DA";
    width: 1rem;
    margin-top: 1rem;
    margin-right: 1rem;
  }

div {
    display: table-header-group;
    padding-left: 2rem;
    padding-top: 2rem;    
}

article div{
 display: block;
 text-align: left;
}

img {
    display: table-footer-group;  
    width: 100%;
    height: 100%;
}

 /* For skjermer som er større enn 600px */
@media only screen
and (min-width: 600px){
    html {
        font-size: 16px;
    }
    header {
        height: 65vh;
    }
    header div {
        left: 7.5%;
        right: 7.5%;
    }
    header div, main, footer{
        width: 85vw;
    }
    article {
        column-count: 2;
        column-gap: 10%;
    }
    #intro-container{
        column-count: 2;
        column-gap: 10%;  
        margin-top: 6rem; 
        background: linear-gradient(to right,#c5192d 50%, whitesmoke 50%); 
    }
}


/* For skjermer som er større enn 960px */
@media only screen and (min-width: 960px){
    html {
        font-size: 24px;
    }
    header {
        height: 65vh;
    }
    header div, main, footer{
        width: 75vw;
    }
    header div {
      left: 12.5%;
      right: 12.5%;
    }
}
